*{
    padding: 0;
    margin: 0;
}
#Navibar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    color: white;
    margin-right: 100px;
    text-decoration: none;
}